{% extends 'base.html' %}

{% block container %}
<div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr style="text-align: center">
                    <th scope="col">#</th>
                    <th scope="col">Room name</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Projector</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ room.name }}</td>
                    <td style="text-align: center">{{ room.capacity }}</td>
                    <td style="text-align: center">Unknown</td>
                        {% if room.is_projector %}
                    <td class="col-2" style="color:green; text-align: center">&#9745;</td>
                        {% else %}
                    <td class="col-2" style="color:red; text-align: center">&#9746;</td>
                        {% endif %}
                    <td><a href="room/edit/{{ room.id }}/">Edit</a></td>
                    <td><a href="room/del/{{ room.id }}/">Delete</a></td>
                    <td><a href="room/mk_res/{{ room.id }}/">Make reservation</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}