{% extends 'base.html' %}

{% block container %}

    <br>
    <h3>Make a reservation for {{ room.name }}:</h3>
    <br>

  <form action="" method="POST">
  {% csrf_token %}
      <br><div>
  <label for="date">Date:</label>
  <input type="date" id="date" name="date">
      </div><br>
      <div>
  <label for="comment">Comments:</label>
          <textarea id="comment" name="comment"> </textarea>
      </div>
      <div><br>
          <button type="submit" class="btn btn-primary" value="Make reservation">Make reservation</button>

    </div>
</form>

    <br>
    <br>
    <h3>Reservations:</h3>
    <br>
    <ul class="list-group">
      {% for reservation in reservations %}
      <li class="list-group-item">
        <h4>{{ reservation.booking_date }}</h4>
        <p>{{ reservation.commentary }}</p>
      </li>
      {% endfor %}

    </ul>

{% endblock %}