{% extends 'base.html' %}

{% block container %}

  <form action="" method="POST">
  {% csrf_token %}
  <br><div>
  <label for="name">Room name:</label>
  <input type="text" id="name" name="name">
      </div><br>
      <div>
  <label for="room_capacity">Room capacity:</label>
  <input type="number" id="room_capacity" name="room_capacity">
          </div>
      <div><br>
  <label for="is_projector">Projector available</label>
  <input type="checkbox" id="is_projector" name="is_projector">
      </div><br>
      <div>
  <input type="submit" class="btn btn-primary" value="Add room to the database">
    </div>
</form>

{% endblock %}